{{ if or .PrevInSection .NextInSection }}
<div class="pagination">
  <div class="left">
  {{ if .PrevInSection }}
    <a href="{{ .PrevInSection.Permalink }}">
      <time datetime="{{ .PrevInSection.Date }}">&laquo; {{ .PrevInSection.Date.Format $.Site.Params.dateFormat }}</time>
      {{ .PrevInSection.LinkTitle }}
    </a>
  {{ end }}
  </div>
  <div class="right">
  {{ if .NextInSection }}
    <a href="{{ .NextInSection.Permalink }}">
      <time datetime="{{ .NextInSection.Date }}">{{ .NextInSection.Date.Format $.Site.Params.dateFormat }} &raquo;</time>
      {{ .NextInSection.LinkTitle }}
    </a>
  {{ end }}
  </div>
</div>
{{ end }}
